section {
  position: relative;
  display: flex;
  width: 90vw;
  height: 80vh;
  background: url(../../assets/desktop/image-host.jpg) no-repeat right;
  justify-content: flex-end;
}
.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.podcast {
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #121725;
    min-height: 500px;
    transform: translateY(-45px);
  
}
.down{
  display: flex;
    flex-direction: column;
    row-gap: 30px;
}
